.playerDropdown{
    display: contents;
}
.show{
    display: grid !important;
    grid-template-columns: 0fr 0fr;
    grid-gap: 10px;
    position: absolute;
}

.ban, .kick {
    width: 65px;
    /* background-color: red; */
    color: white;
    border: none;
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
    border: 1px solid red;
    background: transparent;
    transition: all 0.35s ease-in 0s;
}

.playerDropdown button:hover {
    background-color: red
}
.lightmode button:hover{
    background-color: rgb(2, 0, 107);
}
.lightmode .ban, .lightmode .kick{
    border:0px;
}
.lightmode .playerMenu{
    background-color: rgb(4, 0, 255);
}
.playerMenu {
    height: 25px;
    padding-top: 10px;
    margin-top:10px;
    padding-bottom: 8px;
    display: none;
    background-color: #3e3e3e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left: 10px;
    padding-right: 14px;
    border-radius: 8px;
}