html {
	scrollbar-color: #222;
	scrollbar-width: none;
}

a {
	text-decoration: none;
}

.pretty-link:is(:visited, :link) {
	color: #796de1;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all 0.5s ease;
	border-radius: 50px;
	padding: 3px;
}

.pretty-link::after {
	position: absolute;
	border-radius: 50px;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	direction: rtl;
	z-index: -1;
	background: #786de12f;
	transition: all 0.5s ease;
}

/* .pretty-link:hover {
	color: #6057b1;
} */

.pretty-link:hover::after {
	left: auto;
	right: 0;
	width: 100%;
}

.pretty-link:active {
	top: 2px;
}

body {
	margin: 0;
	font-family: "NunitoRegular";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
a {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
	font-family: "NunitoExtraBold";
	;
}

@font-face {
	font-family: "NunitoRegular";
	src: local("Nunito Regular"),
		url(./fonts/Nunito-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NunitoExtraBold";
	src: local("Nunito Extra Bold"),
		url(./fonts/Nunito-ExtraBold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "UbuntuMono";
	src: local("Ubuntu Mono"),
		url(./fonts/UbuntuMono-Regular.ttf) format("truetype");
	font-weight: normal;
}

.blurry {
	filter: blur(8px) !important;
	border-radius: 14px;
	pointer-events: none;
	max-height: 85vh;
	overflow: hidden;
}
