html {
	scrollbar-color: #222;
	scrollbar-width: none;
}

body {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	font-family: "NunitoRegular";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:is(h1, h2, h3, a) {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "NunitoExtraBold";
}

@font-face {
	font-family: "NunitoRegular";
	src: local("Nunito Regular"),
		url(./fonts/Nunito-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NunitoExtraBold";
	src: local("Nunito Extra Bold"),
		url(./fonts/Nunito-ExtraBold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "UbuntuMono";
	src: local("Ubuntu Mono"),
		url(./fonts/UbuntuMono-Regular.ttf) format("truetype");
	font-weight: normal;
}

.blurry {
	filter: blur(8px) !important;
	border-radius: 14px;
	pointer-events: none;
	max-height: 85vh;
	overflow: hidden;
}
