.authWindow {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 700px;
	height: 409px;
	z-index: 999;
	transform: translate(-50%, -50%);
	font-size: 18px;
	border-radius: 0.25em;
	letter-spacing: -2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
}

.authWindow>div {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
}

.auth-text h3 {
	margin: 10px auto;
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	background: black;
}

@keyframes move {
	0% {
		transform: translateX(25%);
		font-size: 20px;
	}

	50% {
		transform: translateX(-25%)
	}

	100% {
		transform: translateX(0%)
	}
}

.authWindowG {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	backdrop-filter: blur(6px);
	z-index: 1000;
	background: rgba(46, 46, 46, 0.3)
}

.authWindowMain {
	padding: 12px;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#userlogo {
	background: #00000057;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-top: 35px;
	padding: 12px;
}

::placeholder {
	color: rgba(255, 255, 255, 0.39);
	opacity: 1;
}

::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.39);
}

#authPassword {
	width: 270px;
	font-size: 18px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	background: #ffffff00;
	color: white;
	border-color: white;
	outline: none;
	margin-top: 45px;
}

@keyframes translate {
	0% {
		margin-top: 10px;
	}

	100% {
		margin-top: -80px;
		background: white;
		color: black;
	}
}

@keyframes translate-back {
	0% {
		margin-top: -80px;
		background: white;
		color: black;
	}

	100% {
		margin-top: 10px;
	}
}

@keyframes translate-top {
	0% {
		margin-top: -80px;
		background: white;
		color: black;
	}

	100% {
		margin-top: -10000px;
	}
}

.fancyLoginAnim {
	animation: translate 0.5s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	-webkit-animation: translate 0.5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
}

.fancyLoginFailed {
	animation: translate-back 0.5s;
	animation-delay: 0s;
	animation-fill-mode: backwards;
	-webkit-animation: translate-back 0.5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: backwards;
}

.fancyLoginSuccess {
	animation: translate-top 1s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	-webkit-animation: translate-top 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
}

.loginBtn {
	display: contents;
}

.loginBtn .btn {
	width: 270px;
	border-radius: 50px;
}

#status {
	margin-top: 10px;
	height: 25px;
	width: 270px;
	font-family: "NunitoExtraBold";
	letter-spacing: 0.025em;
	color: #ff4141;
}

.badPassAnimation {
	animation: 0.25s linear move;
}

@media only screen and (max-width: 600px) {
	.auth-text {
		display: none;
	}

	.authWindow>div {
		grid-template-columns: 1fr;
		margin: 50% 0;
	}

	.authWindow {
		width: 100%;
		height: 100%;
	}
}
