body {
	padding: 0;
	margin: 0 auto;
}

.night_btn {
	margin: auto 0;
	margin-left: auto;
	margin-right: 20px;
}

.navbar {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	display: grid;
	grid-gap: 25px;
	background: rgb(42, 44, 39);
	grid-template-columns: 0fr 1fr;
}

.light {
	background: #ffffff;
}

.light h3 {
	color: black !important;

}

.light .buttons a {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.light .websocketStatus {
	color: green !important;
	border: 1px solid #b3b3b3;
}

@keyframes color {
	0% {
		background: rgba(255, 0, 0, 0);
	}

	50% {
		background: yellow;
	}

	100% {
		background: rgba(255, 0, 0, 0);
	}
}

.reconnecting {
	animation-name: color;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.navbar a {
	text-decoration: none;
}

.navbar .buttons a {
	color: #979797;
	width: fit-content;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	grid-gap: 10px;
	align-items: center;
	border-radius: 50px;
	height: 40px;
	margin: auto 0;
	transition: background-image 1s;
}

:root {
	--navbar-from-dir: left;
	--navbar-to-dir: right;
}

.buttons a {
	background-size: 200% 100%;
	background-position: var(--navbar-to-dir);
}

@keyframes makeItfadeIn {
	100% {
		background-position: var(--navbar-from-dir);
		box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.22);
	}
}

.light .buttons a:hover{
	color: rgba(51, 51, 51, 0.808);
}

.buttons a:hover {
	color: rgba(224, 224, 224, 0.781);
}

.selected {
	font-weight: bold;
	color: black !important;
	background: linear-gradient(to var(--navbar-to-dir), #bf78fd 50%, transparent 0);
	background-size: 200% 100%;
	background-position: var(--navbar-to-dir);
	animation: makeItfadeIn 1s 0s forwards;
}

.selected-dark {
	color: white !important;
	font-weight: bold;
	background: linear-gradient(to var(--navbar-to-dir), #664682 50%, transparent 0);
	background-size: 200% 100%;
	background-position: var(--navbar-to-dir);
	animation: makeItfadeIn 1s 0s forwards;
}

.navbar h3 {
	margin-left: 15px;
	white-space: nowrap;
	color: rgb(200, 238, 127);
}

.navbar-head {
	display: grid;
}

@media only screen and (min-width: 601px) {
	.navbar .buttons {
		display: inline-flex;
		grid-gap: 30px;
	}

	.navbar-head {
		grid-template-columns: 0fr 1fr;
	}
}

@keyframes buttons-movein {
	0% {
		margin-top: 0%;
	}

	100% {
		margin-top: -100%;
	}
}


@keyframes buttons-moveout {
	0% {
		margin-top: -100%;
	}

	100% {
		margin-top: 0%;
	}
}

@media only screen and (max-width: 600px) {
	.navbar {
		grid-template-columns: none;
		background: none;
		grid-template-rows: 0fr 0fr;
		row-gap: 0px;
		transition: all .5s ease-in-out;
	}

	.navbar .buttons a {
		display: grid;
		grid-template-columns: 0fr 1fr;
		border-radius: 0 !important;
	}

	.night_btn {
		margin: auto auto;
	}

	.navbar-title {
		display: grid;
		grid-template-rows: 1fr 0fr;
	}

	.light {
		background: none;
	}

	.light .navbar-head {
		background: white;
	}

	.show-navbar {
		display: grid !important;
		animation: buttons-moveout 0.75s;
		animation-delay: 0s;
		animation-fill-mode: forwards;
		-webkit-animation: buttons-moveout 0.75s;
		-webkit-animation-delay: 0s;
		-webkit-animation-fill-mode: forwards;
	}

	.hide-navbar {
		animation: buttons-movein 0.75s;
		animation-delay: 0s;
		animation-fill-mode: backwards;
		-webkit-animation: buttons-movein 0.75s;
		-webkit-animation-delay: 0s;
		-webkit-animation-fill-mode: backwards;
	}

	.websocketStatus {
		width: 100% !important;
		height: 8px;
		grid-row: 2;
	}

	.navbar h3 {
		font-size: 22px;
		width: 100%;
	}

	.buttons {
		display: none;
		grid-auto-flow: row;
		grid-gap: 8px;
		border: 2px solid #343434;
		border-radius: 12px;
		border-top: none;
	}

	.light .buttons {
		border: 2px solid #d9d9d9;
	}

	.buttons>a {
		width: 100% !important;
		font-size: 20px;
	}

	.navbar-head {
		width: 100%;
		grid-gap: 5px;
		grid-template-columns: repeat(3, 1fr);
		z-index: 999;
		background: rgb(42, 44, 39);
	}

	.light #navbar-mobile-btn {
		color: #3c3c3c;
	}

	.light .navbar-open {
		color: #c10dff !important
	}

	.navbar-open {
		rotate: 180deg;
		color: #a16db3 !important;
	}

	#navbar-mobile-btn {
		transition: 0.5s;
		height: 55px;
		padding: 10px;
		width: 55px;
		color: #6d7264;
		margin: auto;
	}
}
