body {
	padding:0;
	margin: 0 auto;
}

.lightmode h3 {
	color: #1b3350 !important;
}

.night_btn {
	margin-right:15px;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.navbar {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	display: grid;
	grid-gap: 25px;
	background: rgb(42, 44, 39);
	grid-template-columns: 0fr 1fr;
}

.light {
	background: #ffffff;
}

.selected{
	font-weight: bold !important;
	/* background: #ededed !important; */
	/* border-bottom: 2px solid orange; */
	box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.22);

}

.light h3 {
    color: black !important;

}

.light .buttons a {
	color: black !important;
	font-weight:500;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.light .websocketStatus {
	color: green !important;
	border: 1px solid #b3b3b3;
}

@keyframes color {
	0% {
	  background: rgba(255, 0, 0, 0);
	}
	50% {
		background: yellow;
	}
	100% {
		background: rgba(255, 0, 0, 0);
	}
}

.reconnecting {
	animation-name: color;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.navbar a {
	text-decoration: none;
}

.navbar .buttons a {
	color: white;
	width: fit-content;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	grid-gap:10px;
	align-items: center;
	border-radius: 50px;
	height: 40px;
	margin: auto 0;
	transition: background-image 1s;
}

.navbar .buttons a:hover, .selected-dark {
	background-image: linear-gradient(to right top, #40517e, #4b4e81, #584b83, #664682, #74407e);
	box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.22);
}

.light .buttons a:hover {
	background: none;
}

.navbar h3 {
	margin-left: 15px;
	white-space: nowrap;
	color: rgb(200, 238, 127);
}

.navbar-head {
	display: grid;
}

@media only screen and (min-width: 601px){
	.navbar .buttons {
		display: inline-flex;
		grid-gap: 30px;
	}
	.navbar-head {
		grid-template-columns: 0fr 1fr;
	}
}

@keyframes buttons-movein {
	0% {
		margin-top: 0%;
	}
	100% {
		margin-top: -100%;
	}
}


@keyframes buttons-moveout {
	0% {
		margin-top: -100%;
	}
	100% {
		margin-top: 0%;
	}
}

@media only screen and (max-width: 600px) {
	.navbar {
		grid-template-columns: none;
		background: none;
		grid-template-rows: 0fr 0fr;
		row-gap: 0px;
		transition: all .5s ease-in-out;
	}
	.navbar .buttons a {
		display: grid;
		grid-template-columns:  0fr 1fr;
		border-radius: 0 !important;
	}
	.night_btn {
		margin: auto auto;
	}

	.navbar-title{
		display: grid;
		grid-template-rows: 1fr 0fr;
	}

	.light {
		background: none;
	}

	.light .navbar-head{
		background: white;
	}

	.show-navbar{
		display: grid !important;
		-webkit-animation: buttons-moveout 0.75s;
		-webkit-animation-delay: 0s;
		-webkit-animation-fill-mode: forwards;
	}

	.hide-navbar {
		-webkit-animation: buttons-movein 0.75s;
		-webkit-animation-delay: 0s;
		-webkit-animation-fill-mode: backwards;
	}
	
	.websocketStatus {
		width: 100% !important;
		height: 8px;
		grid-row: 2;
	}

	.navbar h3 {
		font-size: 22px;
		width: 100%;
	}

	.buttons {
		display: none;
		grid-auto-flow: row;
		grid-gap: 8px;
		border: 2px solid #343434;
		border-radius: 12px;
		border-top: none;
	}

	.buttons > a {
		width: 100% !important;
		font-size: 20px;
	}

	.navbar-head {
		width: 100%;
		grid-gap:5px;
		grid-template-columns: repeat(3, 1fr);
		z-index: 999;
		background: rgb(42, 44, 39);
	}

	.light #navbar-mobile-btn {
		color: #3c3c3c;
	}

	#navbar-mobile-btn {
		height: 55px;
		padding: 10px;
		width: 55px;
		color: #6d7264;
		margin: auto;
	}

	.light .navbar-btn-pressed {
		background: #a3a3a38f;
	}

	.navbar-btn-pressed {
		background: #5851518f;
	}
}
