.darkmode .playersOnline{
    background: rgb(46, 46, 46);
}
.darkmode .playersOnline h3{
    color: rgb(157, 192, 75);
}
.darkmode .playersOnline ul{
    color: rgb(194, 194, 194);
}
.playersOnline{
    display: grid;
    grid-template-rows: 0fr 1fr;
    width: 300px;
    border:1px solid rgb(56, 56, 56);
    border-radius: 12px;
    padding: 10px;
    height: 320px;
}
.playersOnline h3{
    color: black;
    margin:0 auto;
    text-align: center;
}
.playersOnline ul{
    overflow-y: scroll;
    list-style: none;
    padding:0;
    padding-left: 15px;;
}
.playersOnline ul li:not(:last-child) { 
    margin-bottom: 8px;  
 }
.playersOnline ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: greenyellow; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.playersOnline ul::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.playersOnline ul{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}