.darkmode :is(.playersOnline, .playersOnline>div) {
	background: rgb(46, 46, 46);
}

.darkmode .playersOnline h3 {
	color: rgb(157, 192, 75);
}

.darkmode .playersOnline ul {
	color: rgb(194, 194, 194);
}

.lightmode :is(.playersOnline>div, .playersOnline) {
	background: rgb(221, 221, 221);
}

.lightmode .playersOnline {
	border: 1px solid rgb(230, 230, 230);
}

.playersOnline {
	display: grid;
	grid-template-rows: 0fr 1fr;
	width: 300px;
	border: 1px solid rgb(56, 56, 56);
	padding: 14px;
	height: 410px;
}

.playersOnline>div {
	position: sticky;
	top: 0;
}

.playersOnline h3 {
	margin: 0 auto;
	text-align: center;
	font-size: 22px;
}

:is(.plist, #plist) {
	scrollbar-width: thin;
}

:is(.playersOnline ul, .plist) {
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	padding-left: 18px;
}

.lightmode ul li::before {
	color: green !important;
}

:is(.playersOnline ul, .plist) li::before {
	content: "\2022";
	color: greenyellow;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.playersOnline hr {
	border: none;
	width: 100%;
	height: 1px;
	background: #838383;
}

@media only screen and (max-width: 600px) {
	.playersOnline {
		width: 100%;
		grid-template-rows: 0.123fr 1fr;
	}

	.playersOnline h3 {
		font-size: 26px;
	}

	.playersOnline ul {
		font-size: 18px;
		max-height: 500px;
		padding-left: 20px;
	}
}
