.lightmode .statistic {
    background: #dddddd;
}

.darkmode .statistic {
    background: #2e2e2e;
}

.statistic {
    border-radius: 12px;
    padding: 12px;
    grid-column: span 2;
}
/* 
.statistic-usage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 30px;
} */

.lightmode .statistic-text {
    background: #69408f;
}

.statistic-text {
    background: #5c456e;
    display: grid;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
    .statistic {
        width: 100%;
        grid-column: auto;
    }
    .statistic-text {
        grid-template-columns: none;
        grid-gap: 5px;
        grid-template-rows: repeat(3, 1fr);
    }
}
