.lightmode .statistic {
    background: #dddddd;
}

.darkmode .statistic {
    background: #2e2e2e;
}

.statistic {
    border-radius: 12px;
    padding: 12px;
    grid-column: span 2;
}

.lightmode .statistic-text {
    background: #fd4c4c;
    color: white;
}

.statistic-text {
    background: #5c456e;
    display: grid;
    padding: 12px;
    border-radius: 50px;
    color: #e3e3e3;
    justify-items: center;
    font-size: 16px;
    font-weight: bold;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
    .statistic {
        width: 100%;
        grid-column: auto;
    }
    .statistic-text {
        grid-template-columns: none;
        grid-gap: 5px;
        grid-template-rows: repeat(3, 0fr);
        justify-content: center;
        justify-items: normal;
    }
}
