.worlds {
    border: 1px solid rgb(56, 56, 56);
    border-radius: 12px;
    height: 400px;
    justify-self: center;
    background: rgb(46, 46, 46);
    overflow-y: scroll;
    transition: 1s;
    width: 60%;
    min-width: 700px;
	scrollbar-width: none; /* For Firefox */
}

.worlds::-webkit-scrollbar {
	display: none;
}

.lightmode .world-grid{
	background: #d1cbd3;
}

.world-grid {
    background: #3a373a;
    display: grid;
    grid-template-columns: 0fr 0fr 1fr;
    padding: 10px;
	border-radius:12px;
}

.worldCart_players {
	width: fit-content;
}

.blurry {
	filter: blur(8px) !important;
	border: 4px solid red;
	border-radius: 14px;
}
/* а это уже конкретный мир, выгруженный */
.world-grid:hover .world .blurry {
	-webkit-box-shadow: 4px 4px 23px 33px rgba(0, 0, 0, 0.2) inset !important;
	-moz-box-shadow: 4px 4px 23px 33px rgba(0, 0, 0, 0.2) inset !important;
	box-shadow: 4px 4px 23px 33px rgba(0, 0, 0, 0.2) inset !important;
}

.lightmode .worlds {
	border: 1px solid rgb(230, 230, 230);
	background: rgb(228, 228, 228);
}

.lightmode .worldCart_info{
	color: black;
}

.worldCart_info table td{
	font-weight: bold;
	/* font-family: "Roboto"; */
	padding: 5px 2px 5px 5px;
}

.worldCart_info {
	color: rgb(219, 219, 219);
	margin-left: 10px;
}

.worlds_list {
	grid-auto-flow: row;
	display: grid;
	grid-gap: 33px;
	padding: 12px;
}

.lightmode #wName {
	background: black;
	color: rgb(238, 238, 238);
}

#wName {
	width: 250px;
	background: #d8d8d8;
	color: black;
	word-wrap: break-word;
	margin: 0;
}


.plist {
	margin-left: 10px;
	color: rgb(219, 219, 219);
	height: 165px;
}

.lightmode .plist {
	color: black !important;
}


.world h2 {
	margin: 0;
	margin-top: -83%;
	z-index: 2;
	position: relative;
	width: 100%;
	color: white;
	text-align: center;
	overflow-wrap: break-word;
}

.worldBG {
	position: relative;
	background-image: url("/public/world_template.png");
	background-size: cover;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	height: 100%;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
}

.world, .worldBG {
	transition-duration: 1.2s;
}

.world h2{
	transition: all 1.3s ease;;
}

.world-grid:hover .world h2{
	background: white;
	color:black;
}

.world-grid:hover .world .worldBG {
	box-shadow: 0 1px 12px rgba(0, 0, 0, 1);
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
}

.world {
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	width: 150px;
	height: 200px;
}

.worlds h3 {
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
	color: white;
	font-size: 22px;
	font-weight: 600;
}

.lightmode .worlds-header{
	color: black;
}

.worlds hr {
	border: none;
	width: 95%;
	height: 1px;
	background: #838383;
}