.worlds {
    border: 1px solid rgb(56, 56, 56);
    border-radius: 12px;
    height: 430px;
    justify-self: center;
    background: rgb(46, 46, 46);
	overflow-x: hidden;
    overflow-y: auto;
    width: 60%;
    min-width: 700px;
	scrollbar-width: none; /* For Firefox */
}

.worlds::-webkit-scrollbar {
	display: none;
}

.lightmode .worlds-header-main {
	background: #dddddd;
}

.worlds-header-main {
	padding-top: 10px;
	position: sticky;
	top: 0;
	z-index: 999;
}

.darkmode .worlds-header-main {
	background: rgb(46, 46, 46);
}

.lightmode .world-grid{
	background: #d1cbd3;
}

.world-grid {
    background: #3a373a;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    padding: 10px;
	border-radius: 12px;
}

.worldCart_players {
	width: 220px;
}

/* а это уже конкретный мир, выгруженный */
.world-grid:hover .world .blurry {
	-webkit-box-shadow: 4px 4px 23px 33px rgba(0, 0, 0, 0.2) inset !important;
	-moz-box-shadow: 4px 4px 23px 33px rgba(0, 0, 0, 0.2) inset !important;
	box-shadow: 4px 4px 23px 33px rgba(0, 0, 0, 0.2) inset !important;
}

.lightmode .worlds {
	border: 1px solid rgb(230, 230, 230);
	background: #dddddd;
}

.lightmode .worldCart_info {
	color: #142532;
}

.worldCart_info table td a {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 185px;
	color: white;
    display: inline-block;
	word-wrap:normal;
}

.lightmode .worldCart_info table td a {
	color: black;
}

.worldCart_info table td {
	font-weight: bold;
	padding: 5px 2px 5px 5px;
}

.worldCart_info {
	color: rgb(219, 219, 219);
	margin-left: 10px;
}

.worlds_list {
	display: grid;
	grid-gap: 16px;
	padding: 12px;
}

.lightmode #wName {
	color: rgb(238, 238, 238);
	background: #1fbc99;
}

#wName {
    width: 100%;
    color: #dbdbdb;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
    font-size: 20px;
    background: #318976;
}

.plist {
	margin-left: 10px;
	color: rgb(219, 219, 219);
	height: 165px;
}

.lightmode .plist {
	color: black !important;
}


.world h2 {
	margin: 0;
	margin-top: -83%;
	z-index: 2;
	position: relative;
	width: 100%;
	color: white;
	text-align: center;
	overflow-wrap: break-word;
}

.worldBG {
	position: relative;
	background-image: url(/public/world_template.png);
	background-size: cover;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	height: 100%;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
}

.world, .worldBG {
	transition-duration: 1.2s;
}

.world h2{
	transition: all 1.3s ease;
}

.world-grid:hover .world h2{
	background: white;
	color: black;
}

.world-grid:hover .world .worldBG {
	box-shadow: 0 1px 12px rgba(0, 0, 0, 1);
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
}

.world {
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	width: 150px;
	height: 200px;
}

.worlds h3 {
	margin: 0 auto;
	text-align: center;
	color: white;
	font-size: 22px;
	font-weight: 600;
}

.worlds hr {
	border: none;
	width: 100%;
	height: 1px;
	background: #838383;
}

@media only screen and (max-width: 600px) {
	#wName{
		width: 80%;
		margin: auto;
		height: 30px;
	}
	.worlds {
		min-width: 350px !important;
		width: 100%;
		height: 500px;
	}

	.worlds h3 {
		font-size: 26px;
	}

	.world-grid {
		font-size: 18px;
		grid-template-columns: none;
		grid-template-rows: repeat(3, 0fr);
	}

	.world {
		width: 100%;
		height: 125px;
	}

	.world h2 {
		margin-top: -25%;
		backdrop-filter: blur(12px);
		background-color: #ffffff33;
	}

	.worldCart_info table{
		margin: 0 auto;
	}

	.worldCart_info table td{
		padding: 10px 2px 0px 20px;
	}

	.worldCart_players {
		margin: 20px auto;
		width: 100%;
	}

	.worldCart_players ul{
		padding-left:20px;
		height: auto;
		max-height: 150px;
	}
}
