.copyboard {
	display: none;
	cursor: pointer;
	position: absolute;
	text-align: center;
	background: #8500f9;
	font-size: 18px;
	color: white;
	text-align: center;
	width: 24px;
	height: 22px;
	padding: 6px;
	border-radius: 12px;
}

.darkmode .selected-text {
	background: #23262ecc;
}
.lightmode .selected-text {
    background: #000000;
    color: white;
}
