.playerDropdown {
	display: contents;
}

.show {
	margin-top:10px;
	display: grid !important;
	grid-template-columns: repeat(3, 1fr);
	position: absolute;
}

.admin .playerMenu .op {
	cursor: pointer;
}

.admin {
	color: #ff2a2a;
}

.dropbtn {
	cursor: pointer;
}

@keyframes animate-pop {
	0% {
	  opacity: 0;
	  transform: scale(0.5, 0.5);
	}
  
	100% {
	  opacity: 1;
	  transform: scale(1, 1);
	}
}

.playerMenu {
	animation-duration: 0.25s;
	animation-name: animate-pop;
	animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

.playerMenu > button {
    color: white;
	padding: 0px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background: transparent;
	font-family: "NunitoExtraBold";
    transition: all 0.35s ease-in 0s;
	justify-self: center;
}

.playerMenu button:hover{
	color:rgb(37, 37, 37);
}

.playerMenu {
	height: 40px;
	width: 220px;
	display: none;
	background-color: #7b75ff;
	box-shadow: 0px 6px 36px 2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 6px 36px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 6px 36px 2px rgba(0, 0, 0, 0.75);
	border-radius: 50px;
}

@media only screen and (max-width: 600px) {
	.playerMenu {
		height: 55px;
		width: 240px;
	}

	.playerMenu > button {
		font-size: 16px;
	}
}
