.playerDropdown {
	display: contents;
}

.show {
	margin-top:10px;
	display: grid !important;
	grid-template-columns: repeat(3, 1fr);
	position: absolute;
}

.admin .playerMenu .op {
	cursor: pointer;
}

.admin {
	color: red;
}

.dropbtn {
	cursor: pointer;
}

@keyframes animate-pop {
	0% {
	  opacity: 0;
	  transform: scale(0.5, 0.5);
	}
  
	100% {
	  opacity: 1;
	  transform: scale(1, 1);
	}
}

.playerMenu {
	animation-duration: 0.25s;
	animation-name: animate-pop;
	animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

.playerMenu > button {
    width: 65px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    transition: all 0.35s ease-in 0s;
    height: 100%;
}

.darkmode .playerMenu > button {
	color: rgb(112, 112, 112);
}

.darkmode .playerMenu > button:hover {
	color: white;
}

.lightmode .playerMenu > button {
	color: #b3b3b3;
}

.lightmode .playerMenu > button:hover {
	color: black;
}

.lightmode .playerMenu {
	background: white;
}

.playerMenu {
	display: none;
	background-color: #3e3e3e;
	box-shadow: 0px 6px 36px 2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 6px 36px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 6px 36px 2px rgba(0, 0, 0, 0.75);
	border-radius: 8px;
	height: 38px;
}
