.console {
	padding-top: 50px;
	padding-bottom: 50px;
	display: grid;
	grid-template-rows: 0fr 1fr;
	margin: 0 auto;
	width: 80%;
	height: 75vh;
	/* max-height: 650px; */
	border-radius: 12px;
}

.console-main {
	overflow-x: hidden;
	overflow-y: auto;
	display: grid;
	grid-template-rows: 1fr 0fr;
}

.inputting-field {
	width: 100%;
	display: grid;
	grid-template-columns: 0fr 1fr;
}

.lightmode .inputting-field #console-in,
.lightmode #console-out {
	color: black;
}

.lightmode .inputting-field:hover .console-in-dot {
	color: black;
}

.inputting-field:hover .console-in-dot {
	color: white;
}

.console-in-dot {
	transition: 1s;
	margin: 0;
	font-size: 40px;
	border-left: 1px solid #4d4c50;
	border-bottom: 1px solid #4d4c50;
	color: rgb(90, 90, 90);
	background: #2f3440;
	border-bottom-left-radius: 12px;
	width: -moz-fit-content;
	width: fit-content;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 6px;
}

.lightmode .console-top {
	border: 1px solid #c7c7c7;
}

.lightmode #console-out,
.lightmode #console-in,
.lightmode .console-in-dot {
	background: #ffffff;
}

.lightmode #console-out {
	border: 1px solid #c7c7c7 !important;
	border-bottom: none !important;
}

.lightmode .console-in-dot {
	border: 1px solid #c7c7c7 !important;
	border-right: none !important;
	border-top: none !important;
}

.lightmode #console-in {
	border: 1px solid #c7c7c7 !important;
	border-left: none !important;
	border-top: none !important;

}

#console-out {
	border-left: 1px solid #4d4c50 !important;
}

#console-in {
	border-bottom: 1px solid #4d4c50 !important;
}

#console-out,
#console-in {
	scrollbar-width: none;
	/* For Firefox */
	overflow: auto;
	border: 1px solid #4d4c50;
	border-bottom: none;
	border-left: none;
	border-top: none;
	color: white;
	font-size: 16px;
	outline: none;
	background: #2f3440;
	resize: none;
	padding-left: 10px;
}

#console-out::-webkit-scrollbar {
	display: none;
}

#console-out p {
	margin: 0;
	padding-top: 2px;
}

#console-in {
	border-bottom-right-radius: 12px;
}

#console-out:hover {
	cursor: default;
}

.terminal-text {
	margin: 0 auto;
	text-align: center;
	color: #838383;
	font-weight: 600;
	letter-spacing: 0.55px;
	align-items: center;
	margin-top: 2px;
	margin-right: 5%;
}

.terminal-text:hover {
	cursor: default;
}

.console-exit {
	padding-left: 10px;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 0fr);
	grid-gap: 6px;
	margin: 0 auto;
	width: 75px;
}

.lightmode .console-top {
	background: #edeeee;
}

.console-top {
	border: 1px solid #4d4c50;
	border-bottom: none;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	height: 28px;
	display: grid;
	grid-template-columns: 0fr 1fr;
	background: #39383b;
}

#console-out div {
	transition: background-color 0.4s ease-in;
}

.lightmode .selected-term-text {
	background: #e1cdcd;
}

.darkmode .selected-term-text {
	background: #4d5568;
}

.console-copyboard {
	display: none;
	cursor: pointer;
	position: absolute;
	text-align: center;
	background: blue;
	font-size: 18px;
	color: white;
	text-align: center;
	width: 24px;
	height: 22px;
	padding: 6px;
	border-radius: 12px;
}

.dot {
	height: 11px;
	width: 11px;
	border-radius: 50%;
	display: inline-block;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.green {
	background: yellowgreen;
}

@media only screen and (max-width: 600px) {
	.console {
		width: 100%;
	}

	#console-in {
		border-radius: 0px;
		margin: 0;
	}

	#console-out,
	#console-in {
		font-size: 18px;
	}

	#console-out {
		padding: 16px;
	}

	.terminal-text {
		margin-right: 30%;
	}
}
