h1, h2, h3, a{
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.homeMenu {
    margin-top: 20px;
    /* min-height: 100vw; */
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 0fr 0fr;
    justify-content: center;
}
html, body{
	scrollbar-color: #222;
  	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 6px;
	display: unset;
}

.darkmode::-webkit-scrollbar-track{
	background: #222;
}

::-webkit-scrollbar-track {
	background: rgb(139, 139, 139);
	border-radius: 12px;
}

.darkmode ::-webkit-scrollbar-thumb{
	background-color: #555;
	border: none;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(71, 71, 71);
	border: 3px solid rgb(71, 71, 71);
	border-radius: 12px;
}

::-webkit-scrollbar-corner {
	background: #222;
}
