.homeMenu {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 0fr 0fr;
	width: fit-content;
	margin: 20px auto 20px;
}

.lightmode .homeMenu>div h3 {
	color: #1b3350;
}

:is(#link, #wTextureLink) :where(a) {
	color: #796de1;
	border-radius: 50px;
	padding: 8px;
	border: none;
}

.homeMenu>div {
	transition: box-shadow 1s;
	border-radius: 50px;
}

.homeMenu>div:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar {
	width: 6px;
	display: unset;
}

.darkmode::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-track {
	background: rgb(139, 139, 139);
	border-radius: 12px;
}

.darkmode ::-webkit-scrollbar-thumb {
	background-color: #555;
	border: none;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(71, 71, 71);
	border: 3px solid rgb(71, 71, 71);
	border-radius: 12px;
}

::-webkit-scrollbar-corner {
	background: #222;
}

@media only screen and (max-width: 600px) {
	.homeMenu {
		grid-template-columns: none !important;
		grid-gap: 35px;
		padding: 12px;
	}

	.homeMenu>div {
		justify-self: center;
		box-sizing: border-box;
		z-index: 998;
	}
}
