.plugins-main {
    padding-top: 50px;
}

.plugins-grid {
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

:is(.plugins, .scripts) {
    display: grid;
    grid-template-rows: 0fr 1fr;
    width: 75%;
}

.plugins-grid>div {
    height: min-content;
    border-radius: 50px;
}

.darkmode .plugins-grid>div {
    background-color: #35313c;
    box-shadow: 10px 10px 21px #1f1f1f,
        -10px -10px 21px #242424;
}

.lightmode .plugins-grid>div {
    background-color: #f0f0f3;
    box-shadow: 10px 10px 21px #d3d3d6,
        -10px -10px 21px #fff;
}

.plugins-list {
    margin: 22px;
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 25px;
}

:is(.plugins, .scripts) h3 {
    margin-left: 45px;
    font-size: 36px;
}

.darkmode :is(.plugins, .scripts) h3 {
    color: white;
}

@media only screen and (max-width: 600px) {
    :is(.plugins, .scripts) {
        width: 100%;
    }

    .plugins-grid {
        justify-items: normal;
    }

    .plugins-list {
        margin: 10px;
        grid-gap: 25px;
    }

    .plugins-list:last-child {
        margin-bottom: 30px;
    }
}
