:root {
    --bgcolor: black;
    --slidecolor: white;
    --slidetextcolor: white;
}
.btn {
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    outline: none !important;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    background: var(--bgcolor);
    color: white;
}

.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: var(--slidecolor);
    transition: all 0.5s ease;
}

.btn:hover {
    color: var(--slidetextcolor);
}

.btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn:active {
    top: 2px;
}
